html {
    font-family: 'Franklin Gothic', Arial, sans-serif;
}

.left_panel {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.filter {
    max-height: 35%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.instructions {
    max-height: 35%;
    max-width: 100%;
    display: flex;
}


.container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height:150vh;
}

.list {
    max-width: 20%;
}

#header{
    margin-right:10px;
    display: flex;
    flex-direction: column;

}

h1 {
    margin-bottom: 20px;
}

#header button {
    font-family:'Franklin Gothic';
    text-transform: uppercase;
    width:150px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;

}

#selectMiles{
    display: inline-block;
}

#filter1{
    width:fit-content;
    display:flex;
    flex-direction:row;
}

#filter1 button {
    min-width:90px;
    height: 110px;
    border: 2px solid lightgray;
    border-radius: 15px;
    padding:1%;
    margin:2%;
    background-color: #f0f0f0;
}

#filter1 button:hover {
    background-color: lightgray;
}

button{
    border: 2px solid lightgray;
    padding:2px;

}

button:hover {
    background-color: lightgray;
    border: 2px solid lightgray;
    cursor: pointer;
}

#filter1 h2{
    text-align:center;
    font-size: 50px;
    margin:0;
    pointer-events: none;
}

#filter1 h3 {
    text-align:center;
    margin:0;
    font-size: 15px;
    pointer-events: none;
}

select#selectDistance {
    /* margin-right:10px; */
    width: 160px;
    margin-right: auto;
    margin-left: auto;
}

#filter2 {
    display:flex;
    flex-flow: column wrap;
    margin-left:10px;
    height:160px;
}

fieldset {
    border: .5px solid black;
    border-radius: 15px;
}

.filter {
    max-height: 35%;
    max-width: 100%;
}


#map {
    max-width: 100%;
    max-height: auto;
    /* outline: 2px solid lightgrey; */
    border-radius: 20px;
}

.graticule {
    fill: grey;
    stroke: white;
}

.zip-outline {
    stroke: white;
    stroke-width: .5px;
    fill: none;
}

svg#map {
    background-color:rgb(220, 220, 220);
}

.bos-outline {
    /* stroke: darkgrey; */
    stroke-width: .5px;
    fill: rgb(229, 229, 229);
}

.list {
    margin: 40px;
    margin-right: 20px;
}

.rowR {
    background-color:#b4dcfb;
    border-top: 12px solid black;
    border-bottom: 12px solid transparent;
}

.rowR a {
    text-decoration: none; 
    color: black;

}

.rowR:hover, .rowR:focus {
    background-color: #85bbe4;
}

.tooltip {
    /* text-transform: uppercase; */
    font-weight: bold;
}


#listContainer {
    overflow-y: auto;
    height:700px;
    

}

table{
    width:220px;
    padding:2px;
    /* text-align: center; */
}
